<div
  class="absolute inset-0 -z-20
        ml-[15%] mt-[10%]
        h-[5rem] w-[5rem]
        rounded bg-gray-200/80
        opacity-20 blur-2xl
        dark:bg-gray-200/50 dark:opacity-10"
>
</div>
<div
  class="absolute inset-0 -z-20
        ml-[15%] mt-[10%]
        h-[10rem] w-[10rem]
        rounded bg-gray-200/50
        opacity-20 blur-2xl
        dark:bg-gray-500/50 dark:opacity-10"
>
</div>
<div
  class="absolute inset-0 -z-20
        ml-[calc(65%)] mt-[35%]
        h-[50%] w-12 rotate-45 bg-gray-300/90
        opacity-20 blur-2xl
        dark:bg-gray-300/50 dark:opacity-10"
>
</div>
