<!--Two stacked circle-->
<div
  class="absolute -z-20
        left-[15%] top-[10%]
        h-[5rem] w-[5rem]
        bg-sky-500/50
        opacity-20 blur-2xl
        dark:bg-gray-200/50 dark:opacity-10"
>
</div>
<div
  class="absolute -z-20
        left-[15%] top-[10%]
        h-[10rem] w-[10rem]
        bg-sky-200/50
        opacity-20 blur-2xl
        dark:bg-gray-500/50 dark:opacity-10"
>
</div>
<div
  class="absolute -z-20
        left-[70%] top-[25%]
        h-[60vw] w-[5%] lg:rotate-45 rotate-12 bg-sky-300/50
        opacity-20 blur-2xl
        dark:bg-gray-300/50 dark:opacity-10"
>
</div>
