---
const { text, class: className } = Astro.props;
---

<p
  class:list={[
    'm-1 rounded-lg bg-gray-200 p-1 font-semibold text-gray-800 hover:bg-sky-200 text-center inline-block text-xs',
    className,
  ]}
>
  {text}
</p>
