---
import { Image } from 'astro:assets';

import BaseHead from '@layouts/BaseHead.astro';
import Header from '@layouts/Header.astro';
import Footer from '@layouts/Footer.astro';

import { SITE_TITLE } from 'consts';

let imgs = [];

try {
  imgs = await Astro.glob('../assets/photography/*').then((files) => {
    return files.map((file) => file.default);
  });
} catch (e) {
  console.log(e);
}
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="Favorite pictures I took through the years" />
  </head>
  <body>
    <div class="h-screen md:grid md:grid-cols-7">
      <side class="relative box-border max-sm:fixed max-sm:h-screen md:col-span-2">
        <div
          class="mx-5 flex h-[90%] flex-col items-center justify-center p-2
            max-sm:mt-[50%] max-sm:h-fit max-sm:rounded-lg
            max-sm:bg-slate-100 max-sm:bg-opacity-80
            max-sm:shadow-lg max-sm:dark:bg-gray-800 max-sm:dark:shadow-none"
        >
          <h1 class="text-xl sm:text-4xl">Photography</h1>
          <q class="max-sm:text-xs">
            Everyone should have 3 hobbies in life: one to make you money, one to keep you in shape,
            and one to keep you creative.
          </q>
          <Header noTitle />
          <Footer />
        </div>
      </side>
      <main class="flex flex-wrap justify-end overflow-y-scroll sm:mx-auto md:col-span-5">
        {
          imgs.map((image) => (
            <Image
              class="m-0 h-[300px] object-cover p-0 sm:w-1/3"
              src={image}
              alt=""
              loading="lazy"
            />
          ))
        }
      </main>
    </div>
  </body>
</html>
