---
import BaseHead from '@layouts/BaseHead.astro';
import Header from '@layouts/Header.astro';
import Footer from '@layouts/Footer.astro';

import { SITE_TITLE } from 'consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description="Favorite pictures I took through the years" />
  </head>
  <body>
    <Header />
    <main class="mx-auto mt-5 w-8/12">
      <h2 class="my-5 text-2xl font-bold">The Website</h2>
      <ul class="ml-5 list-disc">
        <li>
          All Content including and not limited to text and images is licensed under <a class="text-sky-400"
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a
          >
        </li>
        <li> Want to use this template? The code is avaibled under MIT open source licence on <a
        class="text-sky-400"
            href="https://github.com/jihedmastouri/me">Github</a
          >
        </li>
        <li>
          Curious about the website, technologies used, or the code? <a class="text-sky-400"
          href="/blog/1st-post" >Read our first article</a
        </li>
      </ul>
      <h2 class="my-5 text-2xl font-bold">Privacy</h2>
      <img
        src="/static/secrets.jpg"
        alt="Keep your secrets"
        class="mx-auto max-h-[50vh] w-8/12 rounded object-cover"
      />
    </main>
    <Footer />
  </body>
</html>
