<div class="max-md:hidden">
  <div
    class="absolute left-0 top-0 h-8 w-8 animate-pulse-small rounded-full
              bg-gray-500/80 opacity-20 backdrop-blur dark:bg-slate-100/50"
    style="top: 20%; left: 10%;"
  >
  </div>
  <div
    class="absolute left-0 top-0 h-8 w-8 animate-bounce-small rounded-full
              bg-gray-500/80 opacity-10 backdrop-blur dark:bg-slate-100/50"
    style="top: 75%; left: 50%;"
  >
  </div>
  <div
    class="absolute left-0 top-0 h-8 w-8 animate-bounce-small rounded-full
              bg-gray-500/80 opacity-10 backdrop-blur dark:bg-slate-100/50"
    style="top: 70%; left: 110%;"
  >
  </div>
  <div
    class="absolute left-0 top-0 h-8 w-8 animate-pulse-small rounded-full
              bg-gray-500/80 opacity-10 backdrop-blur dark:bg-slate-100/50"
    style="top: 40%; left: 90%;"
  >
  </div>
  <div
    class="absolute left-0 top-0 h-8 w-8 animate-pulse-small rounded-full
              bg-gray-500/80 opacity-10 backdrop-blur dark:bg-slate-100/50"
    style="top: 70%; left: 20%;"
  >
  </div>
  <div
    class="absolute left-0 top-0 h-8 w-8 animate-bounce-small rounded-full
              bg-gray-500/80 opacity-10 backdrop-blur dark:bg-slate-100/50"
    style="top: 30%; left: 50%;"
  >
  </div>
  <div
    class="absolute left-0 top-0 h-8 w-8 animate-bounce-small rounded-full
              bg-gray-500/80 opacity-5 backdrop-blur dark:bg-slate-100/50"
    style="top: 10%; left: 100%;"
  >
  </div>
</div>
