---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const classBase = 'hover:text-sky-500';
---

<a href={href} class:list={[classBase, className, { active: isActive }]} {...props}>
  <slot />
</a>

<style>
  .active {
    font-weight: bold;
  }
</style>
