<div class="absolute right-3 top-2 inline-flex items-center">
  <select name="themeSwitch" id="themeSwitch" class="rounded-md px-2 py-1 dark:bg-slate-600">
    <option value="system">System</option>
    <option value="dark">Dark</option>
    <option value="light">Light</option>
  </select>
</div>
