---
type Props = {
  href: string;
  text: string;
  condition?: boolean;
};

const { text, condition, href } = Astro.props;
---

<a
  class={`block relative ${(condition) && 'pointer-events-none'}`}
  href={href}
>
  <span class="absolute top-0 left-0 mt-1 ml-1 h-full w-full rounded bg-black dark:bg-slate-50"></span>
  <span
    class={
      `fold-bold relative inline-block h-full w-full rounded border-2
      border-black px-3 py-1 text-base font-bold text-black
      transition duration-100 hover:bg-sky-300 hover:text-white
      hover:dark:bg-sky-300 ${(condition) ? 'bg-sky-300 dark:bg-sky-300' : 'bg-white'}`
    }
  >{text}</span>
</a>
