---
import Icon from "@components/Icon.astro";
import links from "data/social.json";
const today = new Date();
---

<footer class="text-gray-400 my-5">
	<div class="flex gap-2 justify-center">
    {
      links.map((link) => {
        return (
          <a href={link.url} title={link.name} target="_blank" rel="noopener" class="w-5 h-5 hover:fill-sky-500 dark:fill-gray-200 dark:hover:fill-sky-500">
            <Icon icon={link.image} folder="social" />
          </a>
        )
      })
    }
	</div>

  <div class="text-center mt-2 text-sm"> &copy; {today.getFullYear()}</div>

  <div class="flex justify-center sm:gap-3 max-sm:flex-col items-center text-xs">
    <div class="sm:w-[45%] text-right">
      <span>Content: </span>
      <a class="hover:text-sky-500 underline" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    </div>
    <span class="max-sm:hidden">|</span>
    <div class="sm:w-[45%]">
      <span>Website: </span>
      <a class="hover:text-sky-500 underline" href="https://github.com/jihedmastouri/me">MIT License</a>
    </div>
  </div>

  <div class="text-center sm:text-sm text-xs">
    This website respects your privacy. Here's our <a class="hover:text-sky-500 underline" href="/policy" class="text-sky-400">Policy</a>
  </div>

</footer>
