---
import { SITE_TITLE } from 'consts';

import HeaderLink from '@components/HeaderLink.astro';

import ThemeSwitcher from '@components/ThemeSwitcher.astro';
import ProfileImg from '@components/ProfileImg.astro';
import GoUp from '@components/GoUp.astro';

type Props = {
  noTitle?: boolean;
};

const { noTitle } = Astro.props;
---

<header class="my-6">
  {
    !noTitle && (
      <div class="flex justify-center">
        <a href="/" class="flex w-fit flex-col items-center">
          <ProfileImg />
          <h2 class="mt-1 text-sm text-gray-500 dark:text-gray-300">{SITE_TITLE}</h2>
        </a>
      </div>
    )
  }

  <nav
    class="mx-auto w-fit rounded-full border-2 border-black px-5 py-1 dark:border-white"
    transition:name="header"
  >
    <div class="flex flex-nowrap justify-center gap-4">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/photos">Photos</HeaderLink>
    </div>
  </nav>
  <ThemeSwitcher />
  <GoUp />
</header>
